/* ==================================== MODAL DESIGN ====================================== */
.modal { 
    width: 25% !important ;
    height: 1000px !important ; }


/* ==================================== MODAL DESIGN ====================================== */
img{
    width:200px; /* you can use % */
    height: auto;
}
